@using Microsoft.AspNet.Identity;
<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="/"><img src="/Assets/client/images/logo.png" alt="" /></a>
        </div>
        <div class="cssmenu">
            <ul>
                @if (Request.IsAuthenticated)
                {
                    <li><a href="/Tai-khoan.html">Xin chào : @User.Identity.GetUserName()</a></li>
                    <li><a href="/dang-nhap.html">Logout</a></li>
                }
                else
                {
                    <li class="active"><a href="/dang-ky.html">Đăng ký</a></li>
                    <li><a href="/dang-nhap.html">Đăng nhập</a></li>
                }
                <li><a href="/Lien-he.html">Liên hệ</a></li>
            </ul>
        </div>
        <ul class="icon2 sub-icon2 profile_img">
            <li>
                <a class="active-icon c2" href="/gio-hang.html"> </a>
                <ul class="sub-icon2 list">
                    <li><h3>Thông tin giỏ hàng</h3><a href="/gio-hang.html"></a></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>