
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section header{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
}
@section fouter{
  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <script type="text/javascript" src="~/Assets/client/js/controller/shoppingCart.js"></script>
}
<div class="single">
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-right">Thành tiền</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody id="cartBody">
                            
                        </tbody>
                    </table>                   
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light">Continue Shopping</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <tr>
        <td><img src="{{ImgUrl}}" /> </td>
        <td>{{ProductName}}</td>
        <td>{{Price}}</td>
        <td><input class="form-control" type="text" value="{{Quatity}}" data-id="{{ProductId}}" /></td>
        <td class="text-right">{{SubPrice}}</td>
        <td class="text-right actions">	<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
    </tr>
</script>